:root {
  /* Accent Colors */
  --accent-100: #f8fcfe;
  --accent-90: #f4fafd;
  --accent-80: #e9f5fa;
  --accent-70: #b7def0; /* Main */
  --accent-60: #a5c8d8;
  --accent-50: #92b2c0;
  --accent-40: #89a7b4;
  --accent-30: #6e8590;
  --accent-20: #52646c;
  --accent-10: #404e54;

  /* Primary Colors */
  --primary-100: #fffef6;
  --primary-90: #fffdf2;
  --primary-80: #fffae3;
  --primary-70: #fff0a5; /* Main */
  --primary-60: #e6d895;
  --primary-50: #ccc084;
  --primary-40: #bfb47c;
  --primary-30: #999063;
  --primary-20: #736c4a;
  --primary-10: #59543a;

  /* Sub Colors */
  --sub-100: #eeeff5;
  --sub-90: #e6e8f0;
  --sub-80: #cacfe0;
  --sub-70: #55639c; /* Main */
  --sub-60: #4d598c;
  --sub-50: #444f7d;
  --sub-40: #404a75;
  --sub-30: #333b5e;
  --sub-20: #262d46;
  --sub-10: #1e2337;

  /* Grey Colors */
  --gray-100: #fafafa;
  --gray-90: #f7f7f7;
  --gray-80: #efefef;
  --gray-70: #cccccc;
  --gray-60: #b8b8b8;
  --gray-50: #a3a3a3;
  --gray-40: #999999;
  --gray-30: #7a7a7a;
  --gray-20: #5c5c5c;
  --gray-10: #474747;
  --gray-0: #313131;
}
